.btn-menu-content {
  /* height: 10vh; */
  display: flex;
  align-items: flex-start;
  color: #ffffff;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.btn-menu-breakfast,
.btn-other-menu {
  width: 232px;
  height: 47px;
  border-radius: 6px;
  background: #1d1b1b;
  border-top: 4px solid #ffc107;
  color: #ffff;
  margin-left: 78px;
}

@media (min-width: 600px), (max-width: 800px) {
  .btn-menu-breakfast,
  .btn-other-menu {
    margin-left: 10px;
  }
}
