.ProductsPage {
  display: flex;
  margin: 1em 1em 2em 2em;
  justify-content: space-around;
  align-items: baseline;
  background: #1d1b1b;
}

.ProductsPage-list {
  display: flex;
  width: 70%;
  height: 100%;
}

.btn-menu-content {
  height: 10vh;
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  color: #ffffff;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.input-client-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 20vh;
  background: #1d1b1b;
  color: #ffffff;
}

.father {
  background: #1d1b1b;
}
